.navi {
    display: flex;
        
    color: rgb(0, 0, 0);            
    font-size: 20px;        
    font-weight: normal;   
    text-align: center;      
    margin-top: 5px 10px;
    justify-content:center;
    border-radius:25px;
}

.nav {
    border:#a74949 2px  solid;
    padding:10px;
    text-align: center;
    margin:10px;

}